<div class="container">
    <div class="card border-light">
        <div class="card-header bg-danger">
            <h4 class="text-light">
                No order history
            </h4>
        </div>
        <div class="card-body text-dark">
            <a asp-controller="Home" asp-action="Index">Shopping</a>
        </div>
    </div>
</div>