<div class="container">
    <div class="card border-light">
        <div class="card-header bg-success">
            <h4 class="text-light">
                Orders complete.
            </h4>
        </div>
        <div class="card-body text-bg-dark">
            Thank you for your shopping with us.
            <a asp-controller="Home" asp-action="Index">Continue</a> Shopping
        </div>
    </div>
</div>