<div class="container">
    <div class="card bg-dark text-light border-light mt-4">
        <h1 class="text-warning P-2">
            Opened Two Factor Authentication complete.
        </h1>
    </div>
</div>