@using MVCSmallFarm.ViewModels
@model TwoFactorAuthenticationViewModel

<div class="container">
    <div class="card col-md-6">
        <div class="card-body text-dark">
            <p>
                Please enter this code in  Authenticator Apps :<br />
                <span class="text-success">@Model.Token</span>
            </p>
            <p>
                Or scan QR code using Authenticator Apps :
            </p>
            <div id="qrcode"></div>
            <form asp-controller="Account" asp-controller="EnableAuthenticator">
                <input type="hidden" asp-for="Token"/>
                <div class="form-group">
                    <label asp-for="Code"></label>
                    <input type="text" asp-for="Code" class="form-control"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success mt-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/qrcode.js"></script>
     <script type="text/javascript">
        var qrcode = new QRCode(document.getElementById("qrcode"), "@Model.QRCodeUrl");
    </script> 
}