<div class="container">
    <div class="card bg-dark text-bg-light border-light mt-4">
        <h1 class="text-warning p-2">Comfirm reset a password</h1>
        <p class="text-light p-2">
            please chekc your email.
    </div>
</div>