@model MVCSmallFarm.ViewModels.ForgotPasswordViewModel

<div class="col d-flex justify-content-center">
    <div class="card bg-dark text-light border-light col-md-4">
        <div class="card-header">
            <h3 class="text-warning">Forget Password</h3>
        </div>
        <div class="card-body">
            <form asp-controller="Account" asp-action="ForgotPassword">
                <h5>Please enater an email</h5>
                <div asp-validation-summary="All" class="text-danger">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <div class="form-group">
                            <input asp-for="Email" value="aaa1@aaa.aa" class="form-control"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mt-1">
                        <button type="submit" class="btn btn-outline-secondary form-control">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>