@model MVCSmallFarm.ViewModels.ResetPasswordViewModel

<div class="col d-flex justify-content-center mt-4">
    <div class="card bg-dark text-light border-light col-md-4">
        <div class="card-header bg-secondary text-light">
            Reset a password
        </div>
        <div class="card-body">
            <form asp-controller="Account" asp-action="ResetPassword">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Code" hidden />
                <div class="form-group">
                    <label class="text-primary" asp-for="Email">Email :</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="text-primary" asp-for="Password">Password :</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="text-primary" asp-for="ConfirmPassword">Confirm Password :</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group mt-1">
                    <button type="submit" class="btn btn-outline-secondary form-control">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>