<div class="container">
   <div class="card bg-dark text-light border-light mt-4">
       <h1 class="text-success p-2">Reset a password is complete.</h1>
       <p class="text-light p-2">
           <a class="text-warning" asp-controller="Account" asp-action="Login">
               Login
           </a>
       </p>
   </div>
</div>