html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('img/Duck.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}


#hideDiv {
    background: red;
    width: 400px;
    margin: 0 auto;
    color: #fff;
    padding: 10px;
    text-align: center;
}

div.image:before {
    content: url('img/Plant.gif');
    text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    height: 50px;
    margin-top: -25px;
}
#loadmsg {
    padding-bottom: 60%;
    text-align: right;
    font-size: 0.8em;
}

#gfg {
    width: 400px;
    height: 60px;
}
.icon {
    width: 20px;
    height: 20px;
}