@model MVCSmallFarm.ViewModels.ProductCatViewModel

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" id="linkFirst"
           data-bs-toggle="tab" role="tab" href="#tabfirst"
           aria-controls="tabfirst" aria-selected="true">View All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="linkSecond"
           data-bs-toggle="tab" role="tab" href="#tabsecond"
           aria-controls="tabsecond" aria-selected="false">Add New</a>
    </li>
</ul>

<div id="gfg" class="row">
    <div class="col-md-3"><div class="image"></div></div>
    <div class="col-md-9" id="loadmsg"></div>
</div>
<div id="dialog-confirm"></div>


<div class="tab-content">
    <div id="tabfirst" class="tab-pane fade show active">
        @*@await (Component.InvokeAsync<MVCSmallFarm.ViewComponents.ProductAllViewComponent>())*@
        @await Component.InvokeAsync("ProductAll", new { pgview = 1, flg = 1, Model })
    </div>

    <div id="tabsecond" class="tab-pane fade">

        <partial name="ProductAddEditView.cshtml" />

        @*@Html.Partial("PartialAddOrEdit", Model)*@
        @*@await Component.InvokeAsync("ProductAll", new { pgview = 2, flg = ViewBag.ID, Model })*@

    </div>
</div>

 @section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
<script>
 
    jQuery(document).ready(function () {
        Loading(false);
            $('#tblViewAll').DataTable({

            });
        });

        function Loading(bools) {
            $("#gfg").dialog({
                autoOpen: bools,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });
            $(".ui-dialog-titlebar").hide();
        }

</script>
<script src="~/Scripts/ScriptProduct.js"></script>

 }
