@model MVCSmallFarm.ViewModels.ProductCatViewModel
@if (Model != null)
{
    ViewData["ImgUrl"] = Url.Content(Model.ImageUrl);
}
else
{
    ViewData["ImgUrl"] = "wwwroot/img/productnopic.png";
}
<h4>ProductCatViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Product" asp-action="PartialAddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @if (Model != null)
                {
                    <input type="hidden" asp-for="ProductId" />
                }
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InStock" class="control-label"></label>
                <input asp-for="InStock" class="form-control" />
                <span asp-validation-for="InStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoldTotals" class="control-label"></label>
                <input asp-for="SoldTotals" class="form-control" />
                <span asp-validation-for="SoldTotals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViewTotals" class="control-label"></label>
                <input asp-for="ViewTotals" class="form-control" />
                <span asp-validation-for="ViewTotals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipDateDuration" class="control-label"></label>
                <input asp-for="ShipDateDuration" class="form-control" />
                <span asp-validation-for="ShipDateDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnePoint" class="control-label"></label>
                <input asp-for="OnePoint" class="form-control" />
                <span asp-validation-for="OnePoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwoPoint" class="control-label"></label>
                <input asp-for="TwoPoint" class="form-control" />
                <span asp-validation-for="TwoPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThreePoint" class="control-label"></label>
                <input asp-for="ThreePoint" class="form-control" />
                <span asp-validation-for="ThreePoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FourPoint" class="control-label"></label>
                <input asp-for="FourPoint" class="form-control" />
                <span asp-validation-for="FourPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FivePoint" class="control-label"></label>
                <input asp-for="FivePoint" class="form-control" />
                <span asp-validation-for="FivePoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointTotals" class="control-label"></label>
                <input asp-for="PointTotals" class="form-control" />
                <span asp-validation-for="PointTotals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentTotals" class="control-label"></label>
                <input asp-for="CommentTotals" class="form-control" />
                <span asp-validation-for="CommentTotals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AveragePoint" class="control-label"></label>
                <input asp-for="AveragePoint" class="form-control" />
                <span asp-validation-for="AveragePoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsNormal" class="control-label"></label>
                <input asp-for="IsNormal" class="form-control" />
                <span asp-validation-for="IsNormal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPromotion" class="control-label"></label>
                <input asp-for="IsPromotion" class="form-control" />
                <span asp-validation-for="IsPromotion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
