@model MVCSmallFarm.ViewModels.ProductCatViewModel


@if (Model != null)
{
    // ViewData["ImgUrl"] = Url.Content(Model.ImageUrl);
    if(ViewData["ImgUrl"] == null) {
        if (Model.ImageUrl == null)
        {

            ViewData["ImgUrl"] = "wwwroot/img/productnopic.png";
        }
        else
        {
            //ViewData["ImgUrl"] = "wwwroot/img/" + Model.ImageUrl;
            ViewData["ImgUrl"] = Url.Content("~/img/" + Model.ImageUrl);
        }
    }
   
}
else
{
    ViewData["ImgUrl"] = "wwwroot/img/productnopic.png";

}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" id="RequestVerificationToken"
       name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
<h4>Partial Component ProductCatViewModel</h4>
<hr />
<div id="response"></div>
@using (Html.BeginForm("ProductAddEditView", "Product", FormMethod.Post, new { id = "frm", enctype = "multipart/form-data", onSubmit = "return SubmitForm(this);" }))
{

    @Html.AntiForgeryToken()

    @*<form asp-action="PartialAddOrEdit" asp-controller="Product"  method="post" enctype="multipart/form-data">*@
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <img src="@ViewData["ImgUrl"]" style="margin:10px" height="200" width="200" id="imgpreview" />
                <input id="fileUpload" asp-for="fileUpload"  type="file" accept="image/png,image/jpeg" onchange="ShowImagePreview(this,document.getElementById('imgpreview'))" />
                @*<span asp-validation-for="ImageUrl" class="text-danger"></span>*@
            </div>
        </div>
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input id="viewedit" type="hidden" value="@ViewData["Edit"]" />*@
            @if (Model != null)
            {<input type="hidden" asp-for="ProductId" />}
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">Product Name</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-select"
                        asp-items="ViewBag.Category">
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label">Cost of Product(£)</label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Price of Product(£)</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InStock" class="control-label">Remain in the stock</label>
                <input asp-for="InStock" id="InStock" class="form-control" />
                <span asp-validation-for="InStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoldTotals" class="control-label">Total sold</label>
                @*<input asp-for="SoldTotals" id="SoldTotals" class="form-control"/>*@
                <input asp-for="SoldTotals" name ="SoldTotals" id="SoldTotals" class="form-control"
                    data-val="true"
                    data-val-required="The SoldTotals is required"
                    aria-required="true" aria-invalid="true"/>
                @*<span asp-validation-for="SoldTotals" class="text-danger"></span>*@
                <span id="spSoldTotals" class="text-danger" asp-validation-for="SoldTotals"  data-valmsg-for="SoldTotals" data-valmsg-replace="true"></span>
            </div>
                    <div class="form-group">
                        <label asp-for="ViewTotals" class="control-label">Total views</label>
                        <input asp-for="ViewTotals" class="form-control" />
                        <span asp-validation-for="ViewTotals" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ShipDateDuration" class="control-label">Delivery(days)</label>
                        <input asp-for="ShipDateDuration" class="form-control" />
                        <span asp-validation-for="ShipDateDuration" class="text-danger"></span>
                    </div>
                    @if (Model != null)
                    {
                       @if (Model.ProductId != 0)
                       {
                        <div id="div_prdstar">
                            <div class="form-group">
                                <label asp-for="OnePoint" class="control-label">1 Star</label>
                                <input asp-for="OnePoint" class="form-control" />
                                <span asp-validation-for="OnePoint" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TwoPoint" class="control-label">2 Stars</label>
                                <input asp-for="TwoPoint" class="form-control" />
                                <span asp-validation-for="TwoPoint" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ThreePoint" class="control-label">3 Stars</label>
                                <input asp-for="ThreePoint" class="form-control" />
                                <span asp-validation-for="ThreePoint" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FourPoint" class="control-label">4 Stars</label>
                                <input asp-for="FourPoint" class="form-control" />
                                <span asp-validation-for="FourPoint" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FivePoint" class="control-label">5 Stars</label>
                                <input asp-for="FivePoint" class="form-control" />
                                <span asp-validation-for="FivePoint" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PointTotals" class="control-label">Total stars</label>
                                <input asp-for="PointTotals" class="form-control" />
                                <span asp-validation-for="PointTotals" class="text-danger"></span>
                            </div>
                        </div>
                           }
                       }
                    <div class="form-group">
                        <label asp-for="CommentTotals" class="control-label">Total comments</label>
                        <input asp-for="CommentTotals" class="form-control" />
                        <span asp-validation-for="CommentTotals" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AveragePoint" class="control-label">Average stars</label>
                        <input asp-for="AveragePoint" class="form-control" />
                        <span asp-validation-for="AveragePoint" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" asp-for="IsNormal" checked /> <label class="form-check-label text-black">Selling</label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" type="checkbox" asp-for="IsPromotion" /> <label class="form-check-label text-black">On promption</label>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="mt-5">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                <a class="btn btn-info" onclick="return jQueryAjaxReset(document.getElementById('frm'));">Reset</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @*</form>*@



                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

                }
