<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card m-1">
                <div class="card-header bg-success text-light">
                    User
                </div>
                <div class="card-body">
                    <a asp-controller="Admin" asp-action="Index">
                        All users
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card m-1">
                <div class="card-header bg-primary text-light">
                    Role
                </div>
                <div class="card-body">
                    <a asp-controller="Role" asp-action="Index">
                        All roles
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>